<!DOCTYPE html>
<html>
<head>
    <title>Commits</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Informations sur les commits</h1>
    <div id="commit-info"></div>

    <script>
        $(document).ready(function() {
            $.getJSON('https://api.github.com/repos/OpenRSI/5MCSI_Metriques/commits', function(data) {
                data.forEach(function(commit) {
                    var date = commit.commit.author.date;
                    $.getJSON('https://elie00000.alwaysdata.net//extract-minutes/' + date, function(minutesData) {
                        $('#commit-info').append('<p>Date: ' + date + ', Minute: ' + minutesData.minutes + '</p>');
                    });
                });
            });
        });
    </script>
</body>
</html>
